CI_ENVIRONMENT = production
database.default.hostname = localhost
database.default.username = your_database_user
database.default.password = your_database_password
database.default.database = your_database_name
